@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --background-color: #4E1483;
    --text-color: #FFFFFF;
    --hover-color: #FFFF3F;
    --off-white: #E9ECEF;
    --light-color: #FAEDCD;
    --success: #70E000;
    --warning: #D00000;
}

.pagewrap {
    background-color: var(--off-white);
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "header header header"
        "nav main main"
        "nav main main"
        "footer footer footer";
}

.text-align-center {
    text-align: center;
}

.header {
    grid-area: header;
    position: sticky;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: var(--text-color);
    background-color: var(--background-color);
}

.nav {
    grid-area: nav;
}

.nav-list {
    list-style: none;
    padding: 1rem 0.2rem;
}

.nav-list li {
    margin: auto auto 0.1rem auto;
    border-bottom: 1px solid var(--background-color);
    padding: 1rem;
    line-height: 3rem;
}

.nav-item {
    text-decoration: none;
    color: var(--background-color);
    font-size: 1.5rem;
}

.main {
    grid-area: main;
}

.main .section {
    padding: 1rem 0.2rem;
    background-color: var(--text-color);
    margin-bottom: 1rem;
}

.section-header {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--background-color);
}

.container-info, .badge, .button,.alert, .avatar, .image-container, .input-block, .lists{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.info {
    text-align: justify;
}

/*---------------- badge----------------------- */
.badge-container .list-container,
.modal-container,
.rating-container,
.slider-container,.button-container,.card-container,.alert-container,.avatar-container,.input-container,.grid-container,.text-utility-container,.nav-container,.image-container, .toast-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--off-white);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.text-badge {
    font-size: large;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    border-bottom: 1px solid;
}

.badge {
    border-radius: 0.5rem;
    border: 2px solid var(--off-white);
    margin: 0.5rem;
    padding: 1rem;
    align-items: center;
}

#badge .fa-home {
    position: relative;
    font-size: 2.5rem;
}

#badge .badge-on-icon {
    font-size: 1.5rem;
    position: absolute;
    border-radius: 50%;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 25px;
    text-align: center;
    left: 25px;
    top: -10px;
}

/* --------avatar-image-------- */
.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.badge-on-avatar {
    position: absolute;
    top: -12px;
    left: 40px;
    background-color: var(--background-color);
    color: #E9ECEF;
    border-radius: 50%;
    width: 30px;
    height: 25px;
}

/* --------------------button-component-------------------- */

.button {
    margin: 0.5rem;
    padding: 1rem;
    align-items: center;
}

.btn {
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: var(--text-color);
    border: 1px solid;
    font-size: 1rem;
}

.primary-btn {
    background-color: var(--background-color);
    color: var(--text-color);
}

.link-btn {
    border: none;
    color: var(--background-color);
}

.icon-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
}

.float-btn {
    border: 1px solid var(--off-white);
}

.float-btn:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* --------------------card-component------------------------ */
.card {
    margin: auto;
    padding: 1rem;
}

.card .img {
    width: 300px;
    height: 300px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    background-color: var(--light-color);
    border-radius: 0.5rem;
}

.text {
    padding: 0.5rem;
}

.text h2 {
    margin-bottom: 0;
}

.para {
    padding: 0.5rem;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-btn {
    justify-content: flex-start;
    flex: 1 1 auto;
    padding: 0.5rem;
}

.card-icons {
    justify-content: flex-end;
    flex: 1 1 auto;
    padding: 0.5rem;
}

.card-btn-items {
    border: none;
    background-color: var(--light-color);
    border-radius: 1rem;
    color: var(--background-color);
}

.card-btn-items:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

.card-icons .fa {
    padding-inline-end: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: large;
    color: var(--background-color);
}

.card-icons .fa:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* ------------card-with-badge------------------- */
.card .image {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.img-badge {
    position: absolute;
    color: var(--text-color);
    padding: 1rem;
    background-color: var(--background-color);
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

/* -------text-overlay------------- */
.img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-overlay {
    position: absolute;
    color: var(--text-color);
    padding: 0.7rem;
}

.text-only {
    background-color: var(--off-white);
    border: 2px solid var(--hover-color);
}

.text-only .text {
    color: var(--background-color);
}

.text-only .card-buttons {
    border-top: 1px solid var(--background-color);
}

.text-only .card-btn-items {
    background-color: var(--off-white);
    color: var(--background-color);
}

.text-only .card-btn-items:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* -----------------image-horizon------------------- */

.container-horizon {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    background-color: var(--light-color);
    border-radius: 0.5rem;
}

.oneside {
    display: flex;
    flex-direction: row;
}

.img-horizon {
    width: 100px;
    height: 100px;
    border-top-left-radius: 0.5rem;
}

.text-horizon {
    padding: 0.5rem;
}

.text-horizon h3 {
    margin: 0;
    padding-top: 1rem;
}

.shadow-cont {
    box-shadow: 5px 5px 5px 5px var(--off-white);
}


/* ------------------Alert component----------------- */

.msg-alert {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--off-white);
}

.msg-alert i {
    padding-right: 1rem;
}

.success {
    background-color: var(--success);

}

.danger {
    background-color: var(--warning);
    font-weight: bold;
}

.error {
    background-color: var(--hover-color);
}

.code {
    display: flex;
}

/* ------------avatar-feature-------------- */

.avatar-image {
    height: 50px;
    width: 50px;
}

.avatar {
    padding: 1rem;
    align-items: center;
}

.round-image {
    border-radius: 50%;
}

.avatar .image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.border-image {
    margin: 1rem;
    border: 10px solid var(--hover-color);
}

/* ---------------------image-component-------------- */
.image-container {
    padding: 1rem;
    border: 1px solid var(--off-white);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.image-feature {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-feat {
    width: 400px;
    height: 400px;
}

.img-round {
    border-radius: 50%;
}

/* -----------------input-feature----------------- */

.input-block, .lists {
    justify-content: center;
    align-items: center;
}

.input-ele {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid var(--background-color);
}

.input-check {
    border: 1px solid var(--warning);
    background-color: #fec5bb;
    color: var(--warning);
}

/* ----text-utilities -------*/

.text-utility {
    padding: 0.2rem;
}

.lower-text {
    text-transform: lowercase;
}

.upper-text {
    text-transform: uppercase;
}

.grey-text {
    color: var(--off-white);
}

.medium-text{
    font-size: medium;
}

.small-text {
    font-size: small;
}

.smaller-text {
    font-size: smaller;
}

.large-text {
    font-size: large;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

/* -navigation-------- */

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.oneside {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    order: -1;
    z-index: 1;
    min-width: 0;
    padding: 0 4px;
    flex: 1 1 auto;
}

.other-side {
    display: inline-flex;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
    order: 1;
}

.btn-navbar {
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 0 10px;
}

.btn-navbar:hover {
    color: var(--hover-color);
}

.title-navbar {
    padding: 0 10px;
}

.title-navbar:hover {
    color: var(--hover-color);
}

/* --------List COmponent------ */
.list:hover {
    color: var(--hover-color);
}

.list-navbar {
    display: inline-flex;
    align-items: center;
}

.list {
    padding: 0 10px;
    list-style: none;
    padding-inline-end: 1rem;
}

.unordered-list {
    list-style: none;
}

.list-ele {
    padding: 0.2rem;
}

.list-ele:hover {
    color: var(--success);
}

/* ------toast feature---- */
.toast-container{
    justify-content: center;
}
.toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    border-radius: 0.3rem;
    padding: 0.5rem 0;
    color: #ced4da;
    width: 80%;
    margin:1rem auto;
}

.toast-item, .toast-btn,.toast-icon {
    margin: 10px;
}

.toast-btn {
    border: none;
    background-color: #343a40;
    color: #f20089;
    padding: 0.2rem;
}

.toast-btn:hover {
    background-color: #5a189a;
}

.toast-icon {
    justify-content: flex-end;
    padding: 0.2rem;
    width: 17px;
}

/* -------modal -component------- */

.modal-container .btn {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0.5rem;
    border: none;
}

.modal {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.modals {
    background-color: var(--off-white);
    border-top: 1px solid var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-modal {
    background-color: white;
    color: var(--background-color);
    padding: 1rem;
    border: 1px solid var(--off-white);
    box-shadow: 0 0 5px var(--off-white);
}

.unorder-li-group {
    list-style: none;
    padding: 0.5rem;
}

/*---- rating feature------- */
.rating {
    display: flex;
    padding: 1rem;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--hover-color);
}
.rating .fa{
    margin:0.5rem;
}

.checked {
    color: var(--background-color);
}

.fa-star:hover {
    color: var(--background-color);
}

.toast-icon:hover {
    background-color: #495057;
    color: white;
    border: none;
    border-radius: 50%;
}

/* -grid-container-- */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-items {
    padding: 1rem;
    border: 1px solid var(--background-color);
    margin: 0.5rem;
    height: 3rem;
    border-radius: 0.5rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "one two three";
}

/* ---slider------- */
.slider {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.default-slider {
    cursor: pointer;
    accent-color: var(--background-color);
}

/* ------code-style-------- */
.code-container {
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    width: 90%;
    margin: auto;
}

.code-container iframe {
    height: 151px;
}

.footer {
    padding:1rem;
    font-size: large;
    grid-area: footer;
    color: var(--text-color);
    background-color: var(--background-color);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.footer a.footer-link{
    text-decoration: none;
    color:var(--text-color);
}


/* -----Responsiveness--------- */
@media only screen and (max-width:1000px) {
    .pagewrap {
        grid-template-columns: 150px 1fr;
        grid-template-areas:
            "header header header"
            "nav main main"
            "nav main main"
            "footer footer footer";
    }
}

@media only screen and (max-width: 800px) {
    .pagewrap {
        grid-template-columns: 120px 1fr;
        grid-template-areas:
            "header header"
            "nav main"
            "nav main"
            "footer footer";
    }
    .nav .nav-item{
        font-size: 1.1rem;
    }
    .nav .nav-list li{
        padding:1rem 0.5rem;
    }

    #image .img-feat {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width:600px) {
    .pagewrap {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }

    .nav {
        display: none;
    }

    .main {
        margin: 0;
    }

    #image .img-feat {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width:500px) {
    .pagewrap {
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }

    .nav {
        display: none;
    }

    #image .img-feat {
        width: 100px;
        height: 100px;
    }

    .container-info {
        padding: 0;
    }

    .avatar-container,.alert-container,.badge-container,.button-container,.card-container,.image-container,.input-container {
        padding: 0;
        margin: auto;
        border: none;
    }

    .alert, .text-badge,.image-feature,.msg-alert,.input-block {
        padding: 0.5rem;
    }
}